body {
    margin: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #262626;
}

* {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.container-full {
    width: 100%;
}

.container-normal {
    width: 92%;
    max-width: 1625px;
}

@media (max-width: 1083px) {
    .container-normal {
        width: 100%;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}



.fa-angle-right {
    margin-left: 8px;
}

nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 13px;
    position: relative;
}

nav .logo {
    padding-left: 23px;
    margin-right: -21px;
}

nav .logo img {
    width: 108px;
}

nav .pc-menu {
    display: flex;
    flex: 1;
}

nav .pc-menu li {
    padding: 15px 15px;
}

nav .function-all {
    height: 100%;
    align-items: center;
    padding: 0 4px 2px 0;
}

.function {
    padding: 0 8px;
}

.function span {
    margin-right: 8px;
    line-height: 50px;
}

.account {
    margin-right: 8px;
}

.account span {
    padding-right: 2px;
}

.shop .bi-cart3 {
    font-size: 16px;
}

.function.search {
    margin-right: 30px;
}

.search .fa-magnifying-glass {
    font-size: 16px;
}

.function.func-btn {
    position: relative;
    z-index: 15;
}

.function.func-btn span {
    margin-right: 0px;
    line-height: 53px;
}

.func-pc .fa-chevron-down {
    padding: 11px 6px 0px 2px;
}

nav .func-menu {
    display: none;
    width: 1230px;
    border: 1px solid #e2e2e2;
    border-bottom: 2px solid;
    position: absolute;
    z-index: 10;
    top: 52px;
    right: 6%;
}

#func-switch:checked+.func-btn {
    background-color: #F2F2F2;
    box-shadow: 0 4px #F2F2F2;
}

#func-switch:checked~.func-menu {
    display: block;
}

.func-menu .func-cards {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

.func-menu .func-card {
    width: 195px;
    padding: 0;
    margin: 0;
    padding-left: 24px;
}

.func-card h5 {
    margin: 0;
    padding: 20px 0 19px 0;
    font-weight: 600;
    font-size: 13px;
}

.func-card li {
    padding: 12px 0;
    line-height: 1.5;
}

.func-menu .func-map {
    background-color: #E6E6E6;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
}

@media (max-width: 1399px) {
    nav .pc-menu li {
        padding: 15px 11px;
    }

    .search span,
    .shop span,
    .account span {
        display: none;
    }

    .function.search {
        margin: 0;
    }

    nav .func-menu {
        right: 50%;
        transform: translate(50%, 0%);
    }
}

@media (max-width: 1229px) {
    nav .func-menu {
        width: 1025px;
    }
}

@media (max-width: 1083px) {
    nav {
        padding: 0 12px;
    }
}

@media (max-width: 1024px) {
    nav .func-menu {
        width: 820px;
    }
}

.ham-small {
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    z-index: 20;
}

@media (max-width:859px) {

    nav .pc-menu,
    nav .func-pc,
    .function span {
        display: none;

    }

    .page nav {
        width: 100%;
        justify-content: end;
        ;
    }

    .ham-small {
        display: block;
    }

    .logo {
        position: absolute;
        top: calc(54px / 2);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .function-all .search {
        position: absolute;
        left: 55px;
    }

    .account {
        margin: 0;
        padding: 0;
        padding-left: 16px;
    }

    .shop {
        padding: 0 16px;
    }
}

.ham-btn {
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px;
    background-image: url(../img/ham.png);
    background-position: center;
    background-size: cover;
}

#ham-switch:checked+.ham-btn {
    background-image: url(../img/X.png);
}

.ham-small .mobile-menu {
    display: none;
    background-color: #F2F2F2;
    width: 100%;
    padding-left: 0px;
    border-bottom: 1px solid black;
    position: absolute;
    top: 54px;
    margin: 0;
}

#ham-switch:checked~.mobile-menu {
    display: block;
}

.ham-small li {
    padding: 16px 15px;
    line-height: 1.5;
    font-size: 15px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.mobile-menu .fa-solid {
    float: right;
    margin: 5px 5px 0 0;
    color: rgb(110, 110, 110);
}

.mobile-menu .sub-dropdown-menu {
    padding: 0;
}

.mobile-menu .sub-dropdown-menu li {
    padding-left: 45px;
}

.sub-dropdown-menu,
.fa-chevron-up,
.chevron-switch:checked+label .fa-chevron-down {
    display: none;
}

.chevron-switch:checked+label .sub-dropdown-menu,
.chevron-switch:checked+label .fa-chevron-up {
    display: block;
}

main {
    gap: 48px;
}

@media (max-width:859px) {
    main {
        gap: 16px;
    }
}

.card-title {
    font-family: inherit;
    color: #000;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 16px;
    word-wrap: break-word;
}

.card-text {
    padding: 16px 0;
}

.card-link {
    font-weight: 600;
    color: #0067b8;
    padding-top: 10px;
}

@media (max-width:1399px) {
    .card-title {
        font-size: 22px;
    }
}

@media (max-width:1083px) {
    .card-title {
        letter-spacing: 0;
        font-size: 21px;
        padding-top: 16px;
    }

    .card-text {
        line-height: 1.5;
        padding: 5px 0 16px 0;
    }
}

.choice {
    flex-wrap: wrap;
}

.choice-card {
    height: 90px;
    margin: 16px 24px;
    align-items: center;
}

.choice-card img {
    width: 40px;
    height: 40px;
}

.choice-link {
    text-decoration: underline;
}

@media (max-width:859px) {
    .choice-card {
        height: unset;
    }
}

.news,
.business {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news-card,
.business-card {
    padding: 0 12px;
    flex: 1;
}

.news-card img,
.edge img,
.business-card img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1083px) {

    .news,
    .business {
        flex-wrap: wrap;
    }

    .news-card,
    .business-card {
        width: 50%;
        flex: unset;
        margin-bottom: 48px;
    }
}

@media (max-width: 543px) {
    .news-card,
    .business-card {
        width: 100%;
        margin-bottom: 56px;
    }
}

.edge {
    margin: 62px auto 30px auto;
    padding: 0 12px;
    position: relative;
}

.edge .edge-card {
    width: 30%;
    background-color: #fff;
    padding: 50px 48px;
    position: absolute;
    top: 50%;
    left: 5.5%;
    transform: translate(0, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.146);
}

.edge .edge-card .banner-btn {
    width: 96px;
    height: 40px;
    line-height: 40px;
}

@media (max-width:1083px) {
    .edge {
        margin: 12px auto 205px auto;
    }

    .edge .edge-card {
        width: calc(100% - 48px);
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.13), 0 1px 3px 0 rgba(0,0,0,.11);
        padding: 48px;
        margin: 0 12px;
        left: calc(50% - 12px);
        bottom: 10%;
        transform: translate( -50%, 102%);
    }
}

@media (max-width: 543px) {
    .edge {
        margin: 0px auto 30px auto;
    }
}

.business {
    margin: 0 auto 12px auto;
    flex-wrap: wrap;
}

.business h2 {
    width: 100%;
    padding-left: 12px;
    font-family: inherit;
    font-size: 37px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
}

@media (max-width: 1399px) {
    .business h2 {
        font-size: 29px;
    }
}

@media (max-width: 1083px) {
    .business h2 {
        font-size: 24px;
        line-height: 16px;
    }
}

.follow {
    justify-content: flex-start;
    margin: auto;
}

.follow span {
    margin-left: 24px;
}

.follow img {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

footer {
    background-color: #f2f2f2;
    height: 388px;
    margin-top: 110px;
    color: #616161;
    font-size: 11px;
}

.footer-link {
    padding: 26px 12px 0 12px;
    margin: auto;
}

.footer-card {
    width: calc(100% / 6);
    float: left;
    line-height: 32px;
    padding: 0 12px;
    margin-bottom: -12px;
}

.first-card {
    padding: 0 12px 0 0;
}

.footer-card ul {
    padding: 0;
}


.footer-card h4 {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 4px;
}

.footer-nav {
    height: 72px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 16px;
}

.footer-nav .nation {
    padding-left: 12px;
    display: flex;
}

.footer-nav .nation .language,
.footer-nav .nation .privacy {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.footer-nav .nation .fa-earth-americas {
    font-size: 20px;
    padding-right: 10px;
}

.nation .language span {
    margin-top: -4px;
}

.footer-nav .nation .privacy {
    margin-bottom: 2px;
}

.nation .privacy span {
    margin-left: 4px;
    color: #000;
}

.footer-nav .about {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 3px 9px 0 0;
}

.footer-nav .about li {
    padding-right: 27px;
    margin: 0;
}


/* 互動類 */
.logo,
.pc-menu li,
.function,
.func-btn {
    cursor: pointer;
}

.logo:focus,
.pc-menu li:focus,
.function-all .function:focus,
.mobile-menu li:focus {
    border: 1px dashed #000;
}

.card-link:hover {
    text-decoration: underline;
}